.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #FFF;
	border-bottom-color: #FF3D00;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 0.7s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
 }
 @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
 
	100% {
	  transform: rotate(360deg);
	}
 }


 body{
	margin: 0;
	background-color: #d8f3dc;


 }
 .container{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	/* text-align: center; */
	min-height: 100vh;
	
	max-width: 1200px;
	background-color: #c7f9cc;
	color: #3C1642;
 }


 .main{
	flex:1;
	padding: 0 10px;

	 }
	 .main_main{
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
	 }
 .header{
	width: 100%;
	top: 0;
	left: 0;
	position: sticky;
	background-color: #1DD3B0;
	min-height: 90px;
	opacity: 0.9;
	gap: 20px;
	display: flex;
	align-items: center;

 }
 .link{
	
	font-size: 20px;
	text-transform: uppercase;
 }


 .link_wrapper{
	display: block;
	border: 1px solid #3C1642;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	box-shadow: 5px 5px 3px -3px #073b4c;
 }
 .link_wrapper:hover{
	background-color: #086375;
	border: 1px solid #AFFC41;
 }
  .link_wrapper > a{
	color: #3C1642 ;
	text-decoration: none;

	transition: all 0.3s ease 0s;

 }

 .link_wrapper:hover > a{
	color: #AFFC41 ;
	
	transition: all 0.3s ease 0s;

 }
 .home{
	margin-left: 10px;
	max-width: 30px;
	max-height: 30px;
	transition: all 0.3s ease 0s;
 }
.home:hover{
	fill: #AFFC41 ;
}

.footer{
	background-color: #086375;
	min-height:60px;
	color: #f7e1d7 ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo{
	width: 20px;

}
.btn{
	background-color: #1DD3B0;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
	border: 1px solid #3C1642;
	color: #3C1642;
	min-width: 100px;
	padding: 10px;
	box-shadow: 5px 5px 3px -3px #073b4c;

}
.btn:hover{
	background-color: #086375;
	border: 1px solid #AFFC41;
	color: #AFFC41 ;
		transition: all 0.3s ease 0s;
}

.title{
	font-size: 30px;
	margin-top: 30px;
	font-weight: 700;
}

iframe{
	/* margin:  10px; */
	max-width: 95%;
	
}
h1{
	margin: 30px 0;
	font-size: 40px;
	font-weight: 700;
}
.panel{
	display: none;
}

@media only screen and (max-width: 670px) {
	.link_wrapper{
		display: none;
	}
	.header{
		min-height: 60px;
	}
	.panel{
		display: flex;
		position: absolute;
		width: 30%;
		height: 100px;
		background-color: #3dccc7;
		border: 1px solid #3C1642;
		top: 100%;
		right: 0;
	
		flex-direction: column;
		gap: 20px;
		padding: 10px;
		
		transition: all 0.3s ease 0s;

		visibility: hidden; 
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;
	}

	.b_menu a{
		text-decoration: none;
		color: #3C1642;
		font-size: 16px;
	}
	.b_menu a:hover{
		text-decoration: underline;
		color: #AFFC41;
		
		transition: all 0.3s ease 0s;
	}
	._go{
	
		visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;

	}

	.title{
		font-size: 20px;
		
	}
	h1{
	
		font-size: 25px;
		
	}
 }

